<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yigit Haciefendioglu">
    <title>My Blog - @ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/blog.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" asp-controller="Account" asp-action="Register">
                        Kayıt Ol
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" asp-controller="Home" asp-action="Index">My Blog</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5" /><path d="M21 21l-5.2-5.2" /></svg>
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-sm btn-outline-secondary" asp-controller="Account" asp-action="Logout">Çıkış Yap (@User.Identity.Name)</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-secondary" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-sm btn-outline-secondary ml-1" asp-area="Admin" asp-controller="Home" asp-action="Index">Yönet</a>
                    }
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav @*d-flex justify-content-between*@">
                <a class="p-2 text-muted" asp-controller="Home" asp-action="Index">Anasayfa</a>
            </nav>
        </div>
    </div>

    <main role="main" class="container">
        @RenderBody()
    </main><!-- /.container -->

    <footer class="blog-footer">
        <p>MyBlog &copy; 2019 </p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>